@import url("./fonts/inter/_index.css");

html,
body {
  padding: 0;
  margin: 0;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.simplebar-placeholder {
  display: none;
}

.rmdp-input {
  padding: 15px 10px !important;
}
.rmdp-time-picker div input {
}

.archiveImage {
  padding: 5px;
}
.archiveImage:hover {
  cursor: pointer;
  padding: 0px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}

.splide__arrow--next {
  right: -1rem !important;
}
.splide__arrow--prev {
  left: -1rem !important;
}

.blur {
  display: block;
}
.splide__slide.is-active .blur {
  display: none;
}
